.friend-request{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  //box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

  margin: 5px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 20px;
  color: #3a7bd5;
  font-family: Helvetica;
  font-weight: 400;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  p{
    display: block;
    margin: 0;
  }
  .result-options{
    display: flex;
    justify-content: space-between;
    width: 55px;
    .invisible{
      pointer-events: none;
      visibility: hidden;
    }
    span{
      margin: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      border-radius: 100%;
      cursor: pointer;
      font-size: 14px;
      background: rgba(#3a7bd5, 0.2);
      transition: all 0.25s;
      &:hover{
        background: #3a7bd5;
        color: #ffffff;
      }
    }
  }
}